pip>=9.0.1
gevent==20.6.2
greenlet==0.4.16
hiredis==1.1.0
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
plyvel==1.2.0
netaddr==0.7.18
jmespath==0.10.0
click==4.1
pan-python==0.10.0
stix==1.2.0.10
cybox==2.1.0.17
six==1.11.0
lxml==4.5.2
stix-edh==1.0.0
libtaxii==1.1.117
pytz==2015.4
certifi
ujson==1.34
filelock==2.0.4
sleekxmpp==1.3.1
beautifulsoup4==4.4.1
cifsdk==2.0.14
lz4==3.1.0
networkx==1.11
unicodecsv==0.14.1
Werkzeug==1.0.1
pyzmq==19.0.2
stix2-patterns==1.1.0
antlr4-python3-runtime==4.8
